:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background: linear-gradient(
    to bottom right,
    rgb(13, 13, 18),
    rgb(24, 22, 55)
  );
}
/* html {
  font-size: 62.5%;
} */

body {
  /* margin: 0;
  min-width: 320px; */
  min-height: 100vh;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .content {
  display: flex;
  flex-direction: column;
} */
main {
  position: absolute;
  top: 15%;
  left: 7%;
}
